@model IEnumerable<BerrasBioDB.Models.Ticket>
@inject BerrasBioDB.App_Data.Context _context;
@{ViewData["Title"] = "Booking";}

<h4>Tickets</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BookMultiple">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstOrDefault(t => t.Movie != null).StartTime" class="control-label"></label>
                <input asp-for="FirstOrDefault(t => t.Movie != null).StartTime" class="form-control" />
                <span asp-validation-for="FirstOrDefault(t => t.Movie != null).StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstOrDefault(t => t.Movie != null).Movie" class="control-label"></label>
                <select asp-for="FirstOrDefault(t => t.Movie != null).Movie.Id" class="form-control">
                    @foreach (var movie in _context.Movies)
                    {
                        <option value="@movie.Id">@movie.Title</option>}
                </select>
                <span asp-validation-for="FirstOrDefault(t => t.Movie != null).Movie.Title" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="FirstOrDefault(t => t.Movie != null).Seat.Venue" class="control-label"></label>
                <select asp-for="FirstOrDefault(t => t.Movie != null).Seat.Venue" class="form-control">
                    @foreach (var venue in _context.Venues)
                    {
                        <option>@venue.Name (@venue.MaxSeats)</option>
                    }
                </select>
                <span asp-validation-for="FirstOrDefault(t => t.Movie != null).Seat.Venue" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
